@import "../variables.css";

.pages {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.page-header {
  color: $light-tan;
  font-family: $header-font;
  letter-spacing: .3rem;
  margin-top: 1rem;
  text-align: center;
}

section {
  picture {
    display: block;
    width: 100%;
    position: relative;
    figcaption{
      opacity: 0;
      width: 100%;
      padding: .5rem;
      position: absolute;
      display: block;
      color: $light-tan;
      background-color: rgba(15,14,12,.7);
      transition: all .5s;
    }
    &:hover {
      figcaption {
        transition: all .5s;
        opacity: 1;
      }
    }
  }
}

@media (min-width: 750px) {
  .pages {
    margin-top: 9rem;
  }

}

@media (min-width: 1000px) {
  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  }
}