@import "../variables.css";

h2 {
  color: $light-tan;
  font-family: $header-font;
  letter-spacing: .3rem;
  margin-top: 1rem;
  text-align: center;
}
section {
  picture {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
    figcaption{
      opacity: 0;
      width: 100%;
      padding: .5rem;
      position: absolute;
      display: block;
      color: $light-tan;
      background-color: rgba(15,14,12,.7);
      transition: all .5s;
    }
    &:hover {
      figcaption {
        transition: all .5s;
        opacity: 1;
      }
    }
  }
}

@media (min-width: 750px) {

}